/* -------------------------- Global style */

/*Remove default auto margin, padding and border*/
*{
    margin:0;
    padding:0;
    border:0;
}

body {
    font-size: 100%;
}

/* --------------------------- Game layout */

.game-area {
    border: 1px solid red;
    width: 70vw;
    height: 80vh;
    margin: auto;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-item-game {
    flex-basis: 100%;
    text-align: center;
}

