/* ----------------------------------- GLOBAL STYLE */

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

/*Remove default auto margin, padding and border*/
* {
    margin:0;
    padding:0;
    border:0;
}

body {
    background-color: black;
    color: white;
    font-family: 'Arvo', serif;
    font-size: 100%;
}

h2 {
    text-align: center;
    font-size: 2rem;
    padding: 24px;
}


/* ------------------------------------------- MAIN */

/* flex container used in most sections of the page */
.flex-container {
    display: flex;
    flex-direction: row; /* default value */
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.flex-item {
    flex-basis: 100%;
    text-align: center;
}

.flex-item img {
    width: 100%;
    height: 100%;
}

/* --------------------------- Game layout */

.game-area {
    width: 70vw;
    height: 80vh;
    margin: auto;
}

.answer-area {
    margin: auto;
    width: 60%;
}

.answer-option {
    border: 1px solid white;
    border-radius: 4px;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 16px 0px 16px;
    padding: 8px;
}


/* ---------------------------------- MEDIA QUERIES */

/* flex-item can grow to occupy the available space
   flex-item can shrink to fit the container
   the width of flex-item is auto calculated */

   @media screen and (min-width: 768px) {
    .flex-item {
        flex: 1;
    }
}
